<template>
  <v-card class="fill-height">
    <v-card-title>
      Config params
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        hide-details
        clearable
        clear-icon="mdi-close-circle-outline"
      ></v-text-field>
    </v-card-title>
    <v-card-subtitle>Toàn bộ params của config</v-card-subtitle>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <v-treeview
            :items="configData"
            item-key="path"
            item-text="display"
            :search="search"
            :open.sync="open"
            :active.sync="active"
            activatable
            color="warning"
            open-on-click
            transition
          ></v-treeview>
        </v-col>
        <v-col cols="8">
          <v-scroll-x-transition mode="out-in">
            <div
              v-if="!selected"
              class="title grey--text text--lighten-1 font-weight-light"
              style="align-self: center;"
            >Select a item</div>
            <v-card v-else :key="selected.id" class="float-card">
              <v-card-title>
                {{selected.name}}
                <v-spacer></v-spacer>
                {{selected.path}}
              </v-card-title>
              <v-card-subtitle>{{selected.tooltip}}</v-card-subtitle>
              <v-card-text>
                <p>
                  <strong>Type:</strong>
                  {{selected.type}}
                </p>
                <p>
                  <strong>Default value:</strong>
                  {{selected.value}}
                </p>
                <div v-if="selected.abv">
                  <strong>Abvaiable value:</strong>
                  <div style="max-height:400px; overflow:auto">
                    <v-chip v-for="item in selected.abv" :key="item" class="mr-1 mb-2">
                      <span v-if="item.value">{{item.value}}</span>
                      <span v-else>{{item}}</span>
                    </v-chip>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-scroll-x-transition>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<style lang="scss">
.table {
  width: 100% !important;
}
.float-card {
  position: fixed;
  width: 1050px;
}
</style>

<script>
import _ from "lodash";

// import NestedTable from "../components/NestedTable.vue";

import tooltips from "../data/tooltips";
import notes from "../data/notes";
import {
  adConfigs,
  configs,
  layouts,
  // backgroundAnimations,
  // showAnimations,
  // hideAnimations,
  // textAnimations,
  // ttsLanguage,
  fonts,
} from "../data/configs";

export default {
  name: "Config",
  // components: { NestedTable },
  data() {
    return {
      tooltips,
      notes,
      active: [],
      open: [],
      search: null,
      caseSensitive: false,
    };
  },
  computed: {
    configData() {
      return this.generateData(configs);
    },
    filter() {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    },
    selected() {
      if (!this.active.length) return undefined;

      const id = this.active[0];

      const paths = id.split(".");
      let current = this.configData;

      for (let i = 0; i < paths.length; i++) {
        const pathData = _.find(current, (item) => item.name === paths[i]);
        if (pathData == undefined) {
          return undefined;
        } else {
          current = pathData.children.length > 0 ? pathData.children : pathData;
        }
      }
      return current;
    },
  },
  methods: {
    generateData(data, parentPath) {
      const returnData = [];
      for (const key in data) {
        const name = key;
        let children = _.cloneDeep(data[key]);
        let value = "";
        let abv = null;

        // JSON path
        const path = parentPath ? `${parentPath}.${key}` : key;

        // If didn't have childredn, try to get value
        if (_.isObject(children)) {
          children = this.generateData(children, path);
        } else {
          value = children;
          children = [];
        }

        // Edit some data
        switch (path) {
          case "ads.items":
            children = this.generateData(adConfigs, "ads.items");
            break;

          default:
            break;
        }

        switch (name) {
          case "font":
            abv = fonts;
            break;
          case "layout":
            abv = layouts;
            break;
          default:
            break;
        }

        returnData.push({
          name,
          display: _.isArray(data[key]) ? `${key} [Array]` : key,
          children,
          type: _.isArray(data[key]) ? "array" : typeof data[key],
          value,
          path,
          abv,
          tooltip: _.get(this.tooltips, path),
        });
      }
      // console.log(returnData);
      return returnData;
    },
  },
};
</script>
