<template>
  <v-card class="fill-height">
    <v-card-title>
      ENV_SETTINGS
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Tìm kiếm"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-card-subtitle>Những settings global của FE</v-card-subtitle>
    <v-card-text>
      <v-data-table
        :headers="headers"
        :items="settings"
        :search="search"
        hide-default-footer
        :items-per-page="100000"
      ></v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "ENV_SETTINGS",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Name",
          align: "start",
          value: "name",
        },
        { text: "Description", value: "desc", sortable: false },
      ],
      settings: [
        {
          name: "ALLOW_BETA_FUNC",
          desc:
            "Cho phép những user, group nào sử dụng chức năng beta (hiện tại chỉ có phần lấy thông báo donate từ web khác)",
        },
        {
          name: "ALLOW_EVENTS",
          desc:
            "Cho phép những user, group nào sử dụng chức năng event widgets",
        },
        {
          name: "BANNER_COUPON_TEMPLATE",
          desc: "Thông báo mặc định của coupon (hiển thị)",
        },
        {
          name: "BANNER_COUPON_TTS_TEMPLATE",
          desc: "Thông báo mặc định của coupon (google đọc)",
        },
        {
          name: "CONFIG_DEFAULT",
          desc: "Giá trị mặc định của các config trong donate config",
        },
        {
          name: "DISALLOWED_BANK_CODES",
          desc:
            'Các ngân hàng "ngu" send nội dung tin nhắn không dấu, không nội dung...',
        },
        {
          name: "FACEBOOK_APP_ID",
          desc: "APP ID của facebook, dùng trong authenticate",
        },
        {
          name: "GOOGLE_APP_ID",
          desc: "APP ID của google, dùng trong authenticate",
        },
        { name: "LOGROCKET_APP", desc: "Channel của app trên LogRocket" },
        {
          name: "LOGROCKET_STREAM",
          desc: "Channel của màn hình streamer trên LogRocket",
        },
        {
          name: "NEWS_LIMIT",
          desc: "Số lượng hiển thị mặc định của news widget",
        },
        {
          name: "NOPHONE_BANKCODES",
          desc:
            "Danh sách các ngân hàng không có số điện thoại (liên quan đến thông báo donate mới)",
        },
        {
          name: "PHONE_AUTH_DESCRIPTION",
          desc:
            "Nội dung thông báo hiển thị khi người dùng xác thực bằng phương thức donate",
        },
        {
          name: "PHONE_AUTH_QRCODE",
          desc:
            "QR hiển thị khi người dùng xác thực sđt bằng phương thức donate",
        },
        {
          name: "PHONE_AUTH_SMS_EXPIRED_TIME",
          desc: "Thời gian hết hạn của phần xác minh đt",
        },
        {
          name: "PHONE_DONATION_EXPIRED_TIME",
          desc: "Thời gian hết hạn của web donate",
        },
        { name: "PUBNUB_SUBSCRIBE_KEY", desc: "Key để lắng nghe trên pubnub" },
        {
          name: "RANKING_LIMIT",
          desc: "Số lượng hiển thị mặc định của ranking widget",
        },
        {
          name: "SIZES",
          desc:
            "	Kích thước, vị trí mặc định của các widget (Sau khi thêm event, lưu ý phải thêm sizes, nếu không sẽ gây lỗi)",
        },
        {
          name: "SOCKET_AUTH_CHANNEL",
          desc: "	Tên channel dùng để lắng nghe sự kiện xác thực sđt",
        },
        {
          name: "SOCKET_DONATE_CHANNEL",
          desc:
            "	Tên channel dùng để lắng nghe sự kiện donate (Dùng trong web donate)",
        },
        {
          name: "STREAMER_PROFILE_ANNOUNCEMENT",
          desc: "	Phần thông báo dùng cho trang profile",
        },
        {
          name: "STREAMER_PROFILE_ANNOUNCEMENT_EVENT",
          desc: "	Phần thông báo dùng cho event của Thaygiaoba",
        },
        {
          name: "TOOLTIP",
          desc: "	Tooltip cho phần config, xem thêm giá trị bên phần config",
        },
        {
          name: "WESCAN_MOMO_QR",
          desc:
            "	QR hiển thị khi người dùng xác thực Momo và donate thông qua ví Momo",
        },
      ],
    };
  },
};
</script>
