<template>
  <table>
    <thead class="v-data-table-header">
      <tr>
        <th
          role="columnheader"
          scope="col"
          aria-label
          class="text-start"
          style="width: 1px; min-width: 1px;"
        >
          <span></span>
        </th>
        <th
          role="columnheader"
          scope="col"
          aria-label="Name: Not sorted. Activate to sort ascending."
          aria-sort="none"
          class="text-start sortable"
        >
          <span>Name</span>
          <i
            aria-hidden="true"
            class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--dark"
            style="font-size: 18px;"
          ></i>
        </th>
        <th
          role="columnheader"
          scope="col"
          aria-label="Path: Not sorted. Activate to sort ascending."
          aria-sort="none"
          class="text-start sortable"
        >
          <span>Path</span>
          <i
            aria-hidden="true"
            class="v-icon notranslate v-data-table-header__icon mdi mdi-arrow-up theme--dark"
            style="font-size: 18px;"
          ></i>
        </th>
        <th role="columnheader" scope="col" aria-label="Type" class="text-start">
          <span>Type</span>
        </th>
      </tr>
    </thead>
  </table>
</template>
<script>
export default {
  name: "NestedTableRow",
  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      headers: [
        {
          text: "Name",
          align: "start",
          value: "name",
        },
        { text: "Path", value: "path", sortable: false },
        { text: "Type", value: "type", sortable: false },
        { text: "Value", value: "value", sortable: false },
      ],
    };
  },
};
</script>
