<template>
  <v-data-table
    :headers="headers"
    :items="data"
    show-expand
    single-expand
    item-key="path"
    hide-default-footer
    :items-per-page="100000"
  >
    <!-- expand column -->
    <template v-slot:item.data-table-expand="{ item, isExpanded, expand }">
      <v-btn @click="expand(true)" v-if="item.children.length>0 && !isExpanded" icon>
        <v-icon>mdi-folder</v-icon>
      </v-btn>
      <v-btn @click="expand(false)" v-if="item.children.length>0 && isExpanded" icon>
        <v-icon>mdi-folder-open</v-icon>
      </v-btn>
    </template>
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length" v-if="item.type ==='object'">
        <NestedTable :data="item.children" />
      </td>
    </template>
  </v-data-table>
</template>
<script>
import _ from "lodash";

export default {
  name: "NestedTable",
  components: {
    NestedTable: () => import("./NestedTable.vue"),
  },
  props: {
    data: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    headers() {
      const defautHeaders = [
        {
          text: "Name",
          align: "start",
          value: "name",
        },
        { text: "Path", value: "path" },
        { text: "Type", value: "type", sortable: false },
        { text: "Value", value: "value", sortable: false },
      ];
      return defautHeaders;
    },
  },
  methods: {
    haveChild(item) {
      return _.isArray(item.value);
    },
  },
};
</script>
